* {
    font-family: Helvetica, "Brush Script MT", 'lucida handwriting', Cursive;
}

h1 {
    background-color: rgb(5, 139, 139);
    color:darkgoldenrod;
    text-align: center;
    font-size:76px;
}

ul {
    background-color: mediumseagreen;
    height: 500px;
    /* text-align: center; */
}

li {
    font-family: 'Courier New', Courier, monospace;
    font-size:40px;
    color:blueviolet;
}