* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

div {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #EEEEEE;
}

h4 {
    font-size: 20px;
}

a {
    /* Remove underline from links */
    text-decoration: none;

    /* link typographic styles */
    color: #EEEEEE;
    font-weight: bold;
    font-size: 20px;

    /* Change external display of links and border style */
    display: block;
    border: 5px dashed #EEEEEE;
    border-radius: 15px;
    padding: 25vh 25px;
}

a:hover {
    color:rgb(226, 165, 175);
    border: 5px dashed rgb(226, 165, 175);
}

.header, .footer {
    height: 12.5vh;
    line-height: 12.5vh;
    background-color: #476072;
}

.main {
    height: 75vh;
    background-color: #548CA8;
    display: flex;
    
    /* Vertically center the divs for the recipes */
    padding-top: 2vh;
    padding-bottom: 2.5vh;
}

.size {
    width: 30vw;
    /* Ensures that the all .size elements grows proportionally with viewport size */
    flex: 1;
    /* Change the inner display to flex */
    display: flex;
     /* Vertically aligns contents of div with <a> */
    align-items: center;
    /* Horizontally aligns content of div with <a> */
    justify-content: center;
}
