* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    margin:20px;
    background-color: #fff;
}

img {
    width: 600px;
    display: block;
}
h1, h3 {
    width: 600px;
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
    color: #af152e;
}

h1 {
    padding-bottom: 15px;
}

h2, h4 {
    font-family: cursive;
}

h4 {
    text-align: center;
}

p, ul, ol {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
}

p, li {
    text-align: justify;
}
li {
    padding-left: 10px;
}

a {
    /* Remove underline from links */
    text-decoration: none;

    /* link typographic styles */
    color: #000000;
    font-weight: bold;
    display: inline-block;
    border: 5px dashed #af152e;
    padding: 5px;

}

a:hover {
    color:#af152e;
    border: 5px dashed #af152e;
}

.center-li {
    width: 565px;
    margin-left: auto;
    margin-right: auto;
}

.img-rec {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}