* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    margin:20px;
}

h1, h3, h4 {
    width: 600px;
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
}

p, ul, ol {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
}

li {
    padding-left: 10px;
}

.center-li {
    width: 565px;
    margin-left: auto;
    margin-right: auto;
}